@import '../../../styles/theme';

.title {
  text-align: center;
  font-size: 2rem;
  font-weight: 700;
  padding: 0 2rem;
}

.subTitle {
  text-align: center;
  font-size: 1rem;
  color: $gray;
  margin-top: 1rem;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 2rem;
  margin-top: 3rem;
}

.card {
  outline: 1px solid transparent;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border-radius: 32px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  background-color: #FFFFFF08;

  .icon {
    width: fit-content;
    padding: 10px;
    outline: 1px solid transparent;
    border-radius: 16px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  }
}

.card:hover {
  outline: 1px solid darkslategrey;
  .icon {
    outline: 1px solid darkslategrey;
  }
}