@import '../../../styles/theme';

.container {
  padding: 1rem;
  background-color: #0F172A;
  background-image:
    radial-gradient(circle at 50% 10%,
      rgba(124, 58, 237, 0.10),
      transparent 55%);
  color: white;
}

.title {
  text-align: center;
  font-size: 2rem;
  font-weight: 700;
  padding: 0 2rem;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 2rem;
  margin-top: 3rem;
}

.planContainer {
  outline: 1px solid transparent;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border-radius: 32px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  background-color: #FFFFFF08;
  justify-content: space-between;
}

.growthPlanContainer {
  outline: 1px solid transparent;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border-radius: 32px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  background-color: #FFFFFF08;
  border: 2px solid $cyan;
  position: relative;
  justify-content: space-between;
}

.name {
  font-size: 1.5rem;
  font-weight: 600;
}

.price {
  font-size: 2.5rem;
  font-weight: 700;
}

.btn {
  padding: 0.75rem 1.5rem;
  border-radius: 9999px;
  font-weight: 600;
  text-align: center;
  transition: background-color 0.3s ease;
  padding: 10px;
  outline: 1px solid transparent;
  border-radius: 16px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

  &:hover {
    cursor: pointer;
  }
}

.growthBtn {
  background: linear-gradient(90deg, #2F6BFF 0%, #8B2CF5 100%);
  padding: 0.75rem 1.5rem;
  border-radius: 9999px;
  font-weight: 600;
  text-align: center;
  transition: background-color 0.3s ease;
  padding: 10px;
  outline: 1px solid transparent;
  border-radius: 16px;

  &:hover {
    background: linear-gradient(90deg, #29468d 0%, #3d077b 100%);
    cursor: pointer;
  }
}

.mostPopular {
  position: absolute;
  top: -15px;
  left: 50%;
  transform: translateX(-50%);
  background-color: $cyan;
  color: white;
  padding: 0.25rem 0.75rem;
  font-size: 0.75rem;
  font-weight: 600;
  border-radius: 100px;
}

ul li {
  list-style: disc;
  margin: 0 1rem;
}

ul li::marker {
  color: $cyan;
  /* your cyan */
}