@import '../../../styles/theme';

.container {
  padding: 1rem;
  background-color: #0F172A;
  background-image:
    radial-gradient(circle at 50% 10%,
      rgba(124, 58, 237, 0.10),
      transparent 55%);
  color: white;
}

.title {
  text-align: center;
  font-size: 2rem;
  font-weight: 700;
  padding: 0 2rem;
}

.listContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  margin-top: 2rem;
}

.content{
  display: flex;
  flex-direction: column;
  justify-content: center;

  .image {
    width: 100%;
    max-width: 400px;
    border-radius: 16px;
    outline: 1px solid transparent;
    // box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  }

  @media (min-width:768px) {
    flex-direction: row;
  justify-content: space-between;
  }
}