.main {
    display: flex;
    flex-direction: column;
    // gap: 4rem;
    padding: 1rem 1rem 0;
}
.navbarContainer{
    margin: 1rem;
    position: sticky;
    top: 1rem;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 100px;
    background-color: #0B1220;
    z-index: 9999;
}