@import '../../../styles/theme';

.container {
  padding: 1rem;
  background-color: #0F172A;
  background-image:
    radial-gradient(circle at 50% 10%,
      rgba(124, 58, 237, 0.10),
      transparent 55%);
  color: white;
}

.contentContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;

  @media (min-width:768px) {
    flex-direction: row;
    justify-content: space-between;
  }
}

.terminalContainer {
  width: 100%;
  max-width: 500px;
  border-radius: 16px;
  outline: 1px solid transparent;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  height: 35vh;
  background-color: black;
  padding: 20px;

  .terminalHeader {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    color: $gray;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 2rem;
  }

  @media (min-width: 768px) {
    height: 55vh;
  }
}

.heroTip {
  font-size: 1rem;
  font-weight: 500;
  color: $cyan;
  text-transform: uppercase;
}

.title {
  font-size: 2.5rem;
  font-weight: 700;
  margin: 1rem 0;
  color: white;

  span {
    background: linear-gradient(135deg,
        oklch(54.6% 0.245 262.881) 0%,
        oklch(62% 0.22 278deg) 50%,
        oklch(70.2% 0.183 293.541) 100%);

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
  }
}

.subTitle {
  font-size: 1.25rem;
  font-weight: 400;
  color: $gray;
}

.buttonsContainer {
  display: flex;
  gap: 1rem;
  margin-top: 2rem;

  .primaryButton {
    background: linear-gradient(90deg, #2F6BFF 0%, #8B2CF5 100%);
    padding: 0.75rem 1.5rem;
    border-radius: 9999px;
    font-weight: 600;
    text-align: center;
    transition: background-color 0.3s ease;
    padding: 10px 20px;
    outline: 1px solid transparent;
    border-radius: 16px;
    width: fit-content;

    &:hover {
      background: linear-gradient(90deg, #29468d 0%, #3d077b 100%);
      cursor: pointer;
    }
  }

  .secondaryButton {
    background: transparent;
    padding: 0.75rem 1.5rem;
    border-radius: 9999px;
    font-weight: 600;
    text-align: center;
    transition: background-color 0.3s ease;
    padding: 10px 20px;
    outline: 1px solid $cyan;
    border-radius: 16px;
    width: fit-content;
    color: white;

    &:hover {
      background-color: #FFFFFF08;
      cursor: pointer;
    }
  }
}

////////////////////////////////////////////
// brands ribbon

.brandsRibbon {
  display: flex;
  align-items: center;
  gap: 2rem;
  background-color: black;
  flex-direction: column;
  padding: 2rem;
  margin: 2rem -2rem;
}

.brandsContainer {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  flex-wrap: wrap;
  justify-content: center;

  @media (min-width: 768px) {
    gap: 4rem;
  }
}

.brandsTitle {
  font-size: 1rem;
  font-weight: 700;
  color: $gray;
  text-transform: uppercase;
  opacity: 0.7;
}

.brand {
  text-transform: capitalize;
  font-size: 1.5rem;
  font-weight: 700;
  color: $gray;
  opacity: 0.7;
}