@import '../../../styles/theme';

.title {
    text-align: center;
    font-size: 2rem;
    font-weight: 700;
    padding: 0 2rem;
}

.desc {
    text-align: center;
    font-size: 1rem;
    color: $gray;
    margin-top: 1rem;
}

.btn {
    background: linear-gradient(90deg, #2F6BFF 0%, #8B2CF5 100%);
    padding: 0.75rem 1.5rem;
    border-radius: 9999px;
    font-weight: 600;
    text-align: center;
    transition: background-color 0.3s ease;
    padding: 10px;
    outline: 1px solid transparent;
    border-radius: 16px;
    width: 100%;
    margin: 2rem 0;

    &:hover {
        background: linear-gradient(90deg, #29468d 0%, #3d077b 100%);
        cursor: pointer;
    }
}