@import '../../../styles/theme';

.footer {
    padding: 2rem;
    text-align: center;
    background-color: black;
}

.container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
    text-align: left;
    align-items: start;
}

/* Tablet */
@media (max-width: 1024px) {
    .container {
        grid-template-columns: repeat(2, 1fr);
    }
}

/* Mobile */
@media (max-width: 600px) {
    .container {
        grid-template-columns: 1fr;
        text-align: center;
    }

    .logoWrapper {
        justify-content: center;
    }
}

/* Logo & Tagline */
.logoContainer {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.logoWrapper {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.logo {
    width: 40px;
    height: 40px;
}

.tagLine {
    margin-top: 1rem;
    font-size: 1rem;
    color: $gray;
}

/* Link Sections */
.linkSection {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.name {
    font-weight: 600;
    font-size: 1.25rem;
}

.linkSection ul {
    margin-top: 0.5rem;
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    padding-left: 0;
}

.link {
    color: $gray !important;
    text-decoration: none !important;
    transition: color 0.3s ease;

    &:hover {
        color: $cyan;
    }
}

li {
    list-style: none !important;
}

/* Copyright */
.copyrights {
    margin-top: 2rem;
    font-size: 0.875rem;
    color: $gray;
    border-top: 1px solid lightslategrey;
    padding-top: 1rem;
}